server:
  port: 8081
  servlet:
    context-path: /user-service

spring:
  application:
    name: user-service
  
  datasource:
    url: jdbc:mysql://localhost:3306/financelab?useSSL=false&serverTimezone=UTC&characterEncoding=utf8
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true
  
  redis:
    host: localhost
    port: 6379
    password: 
    database: 0

jwt:
  secret: financeLabSecretKeyForJWTTokenGenerationWith256BitsLength
  expiration: 86400000 # 24小时

logging:
  level:
    com.financelab.userservice: DEBUG
    org.springframework.security: DEBUG