server:
  port: 8085

spring:
  application:
    name: event-service

  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME_EVENTS:financelab_events}?useSSL=false&serverTimezone=UTC
    username: ${DB_ROOT_USER:root}
    password: ${DB_ROOT_PASSWORD:password}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  jackson:
    serialization:
      write-dates-as-timestamps: false

logging:
  level:
    com.financelab: DEBUG
    org.hibernate.SQL: DEBUG
