server:
  port: 8081
  servlet:
    context-path: /user-service

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME_USERS:financelab_users}?useSSL=false&serverTimezone=UTC&characterEncoding=utf8
    username: ${DB_ROOT_USER:root}
    password: ${DB_ROOT_PASSWORD:password}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true

  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
    password: ${REDIS_PASSWORD:}
    database: ${REDIS_DATABASE:0}

jwt:
  secret: ${JWT_SECRET:financeLabSecretKeyForJWTTokenGenerationWith256BitsLength}
  expiration: ${JWT_EXPIRATION:86400000} # 24小时

logging:
  level:
    com.financelab.userservice: DEBUG
    org.springframework.security: DEBUG